:root {
  --main-color: darkgoldenrod;
  --accent-color: darkslategray;
  --font-family: "Roboto", sans-serif;
  --font-weight: 400;
  --font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
}

header {
    background-color: var(--main-color);
    text-align: center;    
}

body {
    background-color: var(--accent-color);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 300px;
}

.data h2 {
    padding: 10px;
    font-weight: 700;
}
.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 300px;
}

.weather h2 {
    padding: 10px;
    font-weight: 700;
}

.emoji {
    display: none;
}
ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: var(--main-color);
    text-align: center;
    margin-top: 20px;
}
